<!-- be careful with whitespace in this file, turn off trim whitespace settings -->
# {{ vitals.identity.name }}, {{ vitals.identity.label }}

___{{ vitals.identity.summary|wordwrap(100)|trim }}___

## Personal Strengths
{% for strength in vitals.strengths %}
- {{ strength }}
{%- endfor %}


## Summary of Qualifications
{% for stat in vitals.stats %}
- {{ stat.name }}: {{ stat.value }} {{ stat.unit }}
{%- endfor %}


## Languages and Technologies
{% for tech in vitals.technologies %}
- {{ tech.name }}
{%- endfor %}


## Professional Certifications
{% for cert in vitals.certifications %}
- [{{ cert.name }}]({{ cert.url }}) ({{ cert.organization }})
{%- endfor %}

## Contact

- [https://cv.wryfi.net/contact](https://cv.wryfi.net/contact)
- [https://linkedin.com/in/chrishaumesser](https://linkedin.com/in/chrishaumessser)

&nbsp; 

Please visit [{{ reactUrl }}]({{ reactUrl }}) for the most current information,
or to download in a different file format.


```{=tex}
\newpage
```

## Experience

{% for event in vitals.events %}
    {%- if event.eventType == "work" and event.organization != "sp" %}
        {%- set org = vitals.organizations|selectattr("key", "eq", event.organization)|list|first %}
        {%- if org.url %}
            {%- set org_display = '[{}]({})'.format(org.name, org.url) %}
        {%- else %}
            {% set org_display = org.name %}
        {%- endif %}
        {%- if event.endDate %}
            {%- set endDate = event.endDate %}
        {%- else %}
            {% set endDate = 'present' %}
        {%- endif %}
### {{ event.title }}, {{ org_display }}, {{ event.startDate }} – {{ endDate }}
        {% if event.summary and event.highlights and event.startDate[:4] > '2009' %}
*As {{ event.title }}, I {{ event.summary|wordwrap(100)|trim }}, and …*
        {% elif event.summary and event.highlights and event.startDate[:4] <= '2009' %}
*As {{ event.title }}, I {{ event.summary|wordwrap(100)|trim }}.*
        {% elif event.summary and not event.highlights %}
*As {{ event.title }}, I {{ event.summary|wordwrap(100)|trim }}.*
        {%- endif -%}
        {%- if event.startDate[:4] > '2009' %}{% for highlight in event.highlights %}
- {{ highlight|wordwrap(100)|indent(2) }}
        {%- endfor %}{% endif %}
    {% endif %} 
{% endfor %}

## Volunteer Activities
{% for event in vitals.events %}{% if event.eventType == "volunteer" %}
    {%- set org = vitals.organizations|selectattr("key", "eq", event.organization)|list|first %}
    {%- if org.url %}
        {%- set org_display = '[{}]({})'.format(org.name, org.url) %}
    {%- else %}
        {%- set org_display = org.name %}
    {%- endif %}
    {%- if event.endDate %}
        {%- set endDate = event.endDate %}
    {%- else %}
        {%- set endDate = 'present' %}
    {%- endif %}
### {{ event.title }}, {{ org_display }}, {{ event.startDate }} – {{ endDate }}
    {% if event.summary and event.highlights %}
*As {{ event.title }}, I {{ event.summary|wordwrap(100)|trim }}, and …*
    {% elif event.summary and not event.highlights %}
*As {{ event.title }}, I {{ event.summary|wordwrap(100)|trim }}.*
    {%- endif -%}
    {% for highlight in event.highlights %}
- {{ highlight|wordwrap(100) }}
    {%- endfor %}
{% endif %}{% endfor %}

## Education
{% for event in vitals.events %}{% if event.eventType == "education" %}
    {%- set org = vitals.organizations|selectattr("key", "eq", event.organization)|list|first %}
    {%- if org.url %}
        {%- set org_display = '[{}]({})'.format(org.name, org.url) %}
    {%- else %}
        {%- set org_display = org.name %}
    {%- endif %}
    {%- if event.endDate %}
        {%- set endDate = event.endDate %}
    {%- else %}
        {%- set endDate = 'present' %}
    {%- endif %}
### {{ event.title }}, {{ org_display }}, {{ event.startDate }} – {{ endDate }}
    {% if event.summary and event.highlights %}
*As {{ event.title }}, I {{ event.summary|wordwrap(100)|trim }}, and …*
    {%- elif event.summary and not event.highlights %}
*As {{ event.title }}, I {{ event.summary|wordwrap(100)|trim }}.*
    {%- endif %}
    {%- for highlight in event.highlights %}
- {{ highlight|wordwrap(100) }}
    {%- endfor %}
{% endif %}{% endfor %}
